body{
    position: absolute;
    background-color: #F5F5DC;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
.titulo{
    margin-top: 10px;
    text-align: center;
    color: #F5F5DC;
}
main{
   
    background: #2E8B57;
    width: 500px;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Arial";
    
    border-radius: 1em;
    
}

body main form p {
    color: red;
    text-align: center;
}


h3{
    font-family: "Arial";
}

form {
    
    
    width: 400px;
    padding: 1em;
    
    border-radius: 1em;
}


form div + div {
    margin-top: 1em;
}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
input {
    font: 1em sans-serif;
    width: 280px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #F5F5DC;
    color: #F5F5DC;
    font-size:16px;
}



.logo{
    margin: 0 auto;
    width: 450px;
    margin-top: 100px;
}
.logo img {
    max-width:400px;
    max-height:350px;
   
}
input:focus {
    border-color: #0B6138;
}
input{
    background-color: transparent;
    border-radius: 0.3em;
}
.user{
    color: #F5F5DC
}
.pass{
    color: #F5F5DC
}
.but{
    padding-left: 80px;
    margin-left: 14px;
    
    
    
}
button{
    font-family:"Courier New";
    border:1px solid #F5F5DC;
    cursor:pointer;
   background-color: transparent;
    color: #F5F5DC;
    border-radius: 0.3em;
    width: 280px;
    height: 50px;
    margin-top: 2px;

   
}
button:hover{
    background:#0B6138;
}
button:active {
    position:relative;
    top:3px;
}

footer{
   clear: both;
   background-color: #2E8B57;
   width: 100%;  
   height: 80px;
   margin: 0px;
}

.nemo img {
   margin-top: 50px;
   max-width:180px;
   max-height:150px;
   width: auto;
   height: auto;
    
}
.nemo{
   padding: 10px;
   float: right;
   
}



